@use '../../index.scss' as index;

/*
----------------------------------------
HOME COMPONENTS
----------------------------------------
*/

.home-components {
  width: 100%;
}

/*
---TOP TOOLBAR---
*/

.top-toolbar {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}

/*
----------------------------------------
SIDEBAR MENU
----------------------------------------
*/

.navbar {
  width: 100%;
  height: 100%;
  padding: 2rem;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: index.$white-bg;
  z-index: 9999;
}

.navbar ul {
  display: flex;
  flex-direction: column;
}

.navbar a {
  text-decoration: none;
}

.navbar li {
  width: 100%;
  padding: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  border: none;
}

.navbar img {
  width: 7%;
  height: fit-content;
}

.navbar p {
  width: 93%;
  height: fit-content;
  flex: 2;
  color: index.$primary;
}

.navbar button {
  height: 40px;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  color: index.$primary;
  border:1px solid index.$primary;
}

/*
----------------------------------------
DATE COMPONENT
----------------------------------------
*/

.date-component {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

/*
----------------------------------------
GEOLOCATION COMPONENT
----------------------------------------
*/

.geolocation-component {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.geoposition {
  width: fit-content;
}

.geoposition h3 {
  margin-bottom: 0.5rem;
  text-align: center;
}

.coordinates {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.single-coordinate {
  display: flex;
  gap: 0.5rem;
}

.position-icon {
  width: 1.5rem;
  transform: rotate(-35deg);
}

.coordinates .single-coordinate:nth-child(2) .position-icon {
  transform: rotate(35deg);
}

.geolocation-button-container {
  width: fit-content;
  height: fit-content;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.target-location-button {
  height: 40px;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 20rem;
  background-color: index.$white-bg;
}

.target-location-button p {
  color: index.$primary;
}

.convert-units-button {
  padding: 0.5rem;
  position: absolute;
  top: 0rem;
  right: -3rem;
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.convert-units-button p {
  width: 0.5rem;
  font-weight: 600;
}



/*
----------------------------------------
FORECAST COMPONENT
----------------------------------------
*/

.forecast-component {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

/*
---SLIDER & SLIDES---
*/

.forecast-slider {
  width: 100%;
  display: flex;
  gap: 2rem;
}

.slides {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

/*
----------------------------------------
FORECAST CURRENT
----------------------------------------
*/

.forecast-current {
  width: 100%;
  margin-top: 0.5rem;
  display: block;
}

.temp-data {
  margin-bottom: 1rem;
}

.weather-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.temp-icon {
  width: 40%;
  height: fit-content;
  
}

.weather-data ul {
  width: 60%;
  display: grid;
  gap: 1rem;
}

.weather-data ul li:nth-child(1) {
  text-align: center;
  padding: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10rem;
  background-color: rgba(255, 255, 255, 0.15);
}

.wind-speed {
  font-size: 1.125em;
  font-weight: 700;
}

.forecast-current-link {
  padding: 1rem 0;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
}

.black-arrow-1 {
  width: 0.5rem;
  height: fit-content;
}

/*
----------------------------------------
FORECAST DETAILS
----------------------------------------
*/
.forecast-details {
  display: block;
}

.forecast-details-table-container {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.details-table {
  display: grid;
}

.details-table thead tr {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.forecast-details-icon {
  width: 3ch;
  height: fit-content;
}

.details-table tbody {
  display: grid;
  gap: 0.5rem;
}

.details-table tbody tr {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
}

.forecast-details-text {
  text-align: end;
}

.details-last-column {
  width: 100%;
}

.forecast-details-link {
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
}

.black-arrow-2 {
  width: 0.5rem;
  height: fit-content;
  transform: rotate(-180deg);
}

/*
----------------------------------------
BOTTOM MODAL NAVBAR
----------------------------------------
*/

.bottom-modal-navbar {
  width: 80vw;
  height: 40px;
  position: absolute;
  bottom: 3rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 20rem;
  background-color: index.$white-bg;
}

.bottom-modal-navbar li {
  padding: 0.5rem;
}
