/*
-------------------------------------------------------
FONTS
-------------------------------------------------------
*/

@font-face {
  font-family: "Rubik";
  src: url("/assets/fonts/rubik/Rubik-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Rubik";
  src: url("/assets/fonts/rubik/Rubik-LightItalic.ttf");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Rubik";
  src: url("/assets/fonts/rubik/Rubik-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Rubik";
  src: url("/assets/fonts/rubik/Rubik-Italic.ttf");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Rubik";
  src: url("/assets/fonts/rubik/Rubik-Medium.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Rubik";
  src: url("/assets/fonts/rubik/Rubik-MediumItalic.ttf");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Rubik";
  src: url("/assets/fonts/rubik/Rubik-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Rubik";
  src: url("/assets/fonts/rubik/Rubik-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Rubik";
  src: url("/assets/fonts/rubik/Rubik-Black.ttf");
  font-weight: 900;
}

@font-face {
  font-family: "Rubik";
  src: url("/assets/fonts/rubik/Rubik-BlackItalic.ttf");
  font-weight: 900;
  font-style: italic;
}

$fonts: "Rubik", Helvetica, sans-serif;

$title: 3em;
$subtitle: 2.25em;
$secondary-title: 1.5em;
$primary-text: 1em;
$secondary-text: 0.875em;

/*
-------------------------------------------------------
COLORS
-------------------------------------------------------
*/

$primary: #0E0A38;
$secondary: #020214;
$ternary: #063879;
$quarternary: #2E85D9;
$quinary: #29C6F4;
$white-bg: #FFFFFF;
$white-text: #FFFFFF;


/*
-------------------------------------------------------
SIZES
-------------------------------------------------------
*/

$screen-width: 100vw;
$screen-height: 100vh;


/*
-------------------------------------------------------
SETUP
-------------------------------------------------------
*/

html {
  box-sizing: border-box;
  font-family: $fonts;

  body, h1, h2, h3, h4, h5, h6, hr,
  main, article, section, aside, nav,
  form, fieldset, legend, label, input,
  div, span, ul, li, button, img, p,
  table, tr, th, td {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    border: none;
    font-size: $primary-text;
    color: $white-text;
    background-color: transparent;
  }

    h1 {
      font-size: $title;
    }

    h2 {
      font-size: $subtitle;
    }

    h3 {
      font-size: $secondary-title;
    }
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  max-width: $screen-width;
  min-height: $screen-height;
  display: grid;
  grid-auto-columns: repeat(auto-fit, minmax(200px, 1fr));
  background-image: linear-gradient(to bottom, $primary, $secondary);
}

.App {
  padding: 2rem;
}
